@import url('https://fonts.googleapis.com/css?family=La+Belle+Aurore');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

#title {
  font-family: "La Belle Aurore";
  position: absolute;
  z-index: 2;
  top: 175px;
  background-image: url('/images/banner.jpg');
  height: 500px;
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 140px;
  width: 100%;
}

.marker {
  border: none;
  cursor: pointer;
  height: 40px;
  width: 40px;
  background-image: url('/images/marker.png');
  background-color: rgba(0, 0, 0, 0);
}

.mapboxgl-popup {
  padding-bottom: 50px;
  width: 50%;
  background-image: url('/images/scroll-main.jpeg');
  height: 1000px;
  background-size: 70%;
  background-repeat: no-repeat;
  text-align: center;
}
.mapboxgl-popup h4 {
  font-family: "La Belle Aurore";
  font-size: 1.6rem;
  padding-bottom: 0;
}

.mapboxgl-popup p {
  font-family: "Crimson Text";
}

.mapboxgl-popup-content {
  background: none;
  width: 40%;
  padding-left: 15%;
  padding-top: 10%;
  box-shadow: none;
}


.mapboxgl-popup-close-button {
  right: -100px;
  background-color: pink;
}
