<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>modern_luv</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src='https://code.responsivevoice.org/responsivevoice.js'></script>

    <script src='https://api.mapbox.com/mapbox-gl-js/v0.42.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.42.0/mapbox-gl.css' rel='stylesheet' />

    <link rel="stylesheet" href="/stylesheets/simple-grid.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="icon" href="favicon.ico">

    <script src="/scripts/main.js"></script>
</head>

<body>
  <div class="row">
      <h1 class="center col-12" id="title">In fair Los Angeles, where we lay our scene, <br>
        a pair of star crossed lovers do we meet...
      </h1>
  </div>
    <audio id="my_audio" src="lute.mp3" loop="loop"></audio>
    <div id='map' style='width:100%; height:800px; z-index: 1;'></div>
    <script src="/scripts/map.js"></script>


</body>

</html>
